<ion-content class="fundo" [fullscreen]="true">
  <div class="espaco">
    <ion-row style="margin-top: 65px">
      <ion-col>
        <ion-item class="roundedeInput" line="none">
          <ion-label position="floating">
            CEP <span style="color: red">*</span></ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="00000-000"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-col>
      <ion-item class="roundedeInput" line="none">
        <ion-label position="floating">
          Número <span style="color: red">*</span></ion-label
        >
        <ion-input
          type="text"
          expand="block"
          style="color: #222"
          placeholder="Ex:1000"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="roundedeInput" line="none">
        <ion-label position="floating"> Complemento </ion-label>
        <ion-input
          type="text"
          expand="block"
          style="color: #222"
          placeholder="Casa"
        ></ion-input>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item class="roundedeInput" line="none">
        <ion-label position="floating"> Rua </ion-label>
        <ion-input
          type="text"
          expand="block"
          style="color: #222"
          placeholder="Ex: Avenida Paraná"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="roundedeInput" line="none">
        <ion-label position="floating"> Bairro</ion-label>
        <ion-input
          type="text"
          expand="block"
          style="color: #222"
          placeholder="Ex: Águas Claras"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="roundedeInput" line="none">
        <ion-label position="floating"> Cidade</ion-label>
        <ion-input
          type="text"
          expand="block"
          style="color: #222"
          placeholder="Ex: Curitiba"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="roundedeInput" line="none">
        <ion-label position="floating"> Estado</ion-label>
        <ion-input
          type="text"
          expand="block"
          style="color: #222"
          placeholder="Ex: PR"
        ></ion-input>
      </ion-item>
    </ion-col>
  </div>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="espaco">
      <ion-button shape="block" color=" secondary">Cadastrar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
